<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Task20160805</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/basicmvc.css" />
</head>
<body>
    <a class="top_level_href" href="/">Root</a>
    <a class="top_level_href" href="/fileStatistic">Basic MVC</a>
    <a class="top_level_href" href="/api">REST</a>

    <div id="react"></div>
    <script src="built/bundle.js"></script>

</body>
</html>